doctype html
html(lang="en")
  head
    title friend
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    style

        font: 20px Montserrat, sans-serif;
              line-height: 1.8;
              color: #f5f6f7;
              }
              p {font-size: 16px;}
              .margin {margin-bottom: 45px;}
              .bg-1 {
              background-color: powderblue;
              color: #ffffff;
              }
              .bg-2 {
              background-color: #474e5d; /* Dark Blue */
              color: #ffffff;
              }
              .bg-3 {
              background-color: #ffffff; /* White */
              color: #555555;
              }
              .bg-4 {
              background-color: #2f2f2f; /* Black Gray */
              color: #fff;
              }
              .container-fluid {
              padding-top: 70px;
              padding-bottom: 70px;
              }
        .navbar {
              padding-top: 15px;
              padding-bottom: 15px;
              border: 0;
              border-radius: 0;
              margin-bottom: 0;
              font-size: 15px;
              letter-spacing: 5px;
          }




  body
    nav.navbar.navbar-default
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/userHome') Availabook
            #myNavbar.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/addFriend') Add friend
                li
                  a(href='/addFriend') Special friends
                li
                  a(href='/addFriend') Friends group






