doctype html
html(lang="en")
  head
    title Test
  body
    h1 Please indicate your available time.
    h2 Start time     End time     Tendency
    form(method="post", action="/new")
            input(type="date", name="date")
            input(type="time", name="start")
            input(type="time", name="end")
            input(type="text", name="tendency")
            input(type="submit", value="OK")