doctype html
html(lang="en")
head
  style.
    body {
    background-color: powderblue;
    }
    h1 {
    color: white;
    }
    form {
    color: white;
    font-family: verdana;
    font-size: 20px;
    }
  body
    h1 Please indicate your available time.

    form(method="post", action="/new")
        br
        i
          b Date:
        br
        input(type='date', name='Date')
        br
        br
        i
          b Time:
        br
        input(type='time', name='Start Time')
        | &nbsp to &nbsp
        input(type='time', name='End Time')
        br
        br
        i
          b Tendency:
        br
        input(type='text', name='Tendency')
        br
        br
        input(type='submit', value='Done')

