doctype html
html(lang="en")
  head
    title Test
  body
    h1 Jade Test111
    form(method="post", action="/new")
            input(type="text", name="start")
            input(type="text", name="end")
            input(type="text", name="tendency")
            input(type="submit", value="OK")